* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
[class*=classic]:before {
    content:"Loading...";
  }
  
  .classic-1 {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    animation:c1 1s linear infinite alternate;
    display: flex;
    justify-content: center;
  }
  @keyframes c1 {to{opacity: 0}}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{

    font-size: 4rem;
    font-weight: bold;
    padding: 2rem;
}

.coming-soon
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
}

.countdown
{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.day,
.hour,
.minutes,
.seconds
{
    font-size: 2rem;
}

.our_image
{
    height: 60vh;
}
.link-button
{
    padding-top:10px;
    padding-left: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.btn
{
    
    width: 200px;
    height: 50px;
    background-color: black;
    border: 2px solid greenyellow;
    color: white;
    cursor: pointer;
    border-radius: 20px;

}
.btn:hover{
 background-color:indianred;
 color:lime;
}