*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text
{
    height: 100vh;
    display: flex;
    justify-content:left;
    align-items: center;
    background-color: orange;
}
.text h1{
    width: 0ch;
    font-size: 60px;
    font-weight: bolder;
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid black;
    animation: text 10s steps(30) infinite alternate;
}
@keyframes text
{
    0%
    {
        width: 0ch;
    }
    50%
    {
        width: 30ch;
    }
}